@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("../navbar.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-neutral-0: #ffffff;
  --color-neutral-1: #eee4db;
  --color-neutral-2: #d4c3b6;
  --color-neutral-3: #b8a99e;
  --color-neutral-4: #9e8f85;
  --color-neutral-5: #7e6e65;
  --color-neutral-6: #5e4e45;
  --color-neutral-7: #3e2e25;
  --color-neutral-8: #1e0e05;
  --color-neutral-9: #000000;

  --color-primary-1: #34815d;
  --color-primary-2: #2c6e4f;
  --color-primary-3: #245c42;

  --color-secondary-1: #f5c518;
}

#container {
  background-image: url("../css/img/background-mobile.png");
  background-size: contain;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-neutral-8);
  font-weight: 700;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--color-primary-1);
    position: absolute;
    bottom: 0;
    border-radius: 30px;
  }
}

a.btn {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.btn-mobile {
  font-size: 1.5rem;
}

.btn-default {
  background-color: var(--color-primary-1);
  color: var(--color-neutral-0);

  &:hover {
    background-color: var(--color-primary-2);
  }
}

.btn-outlined {
  background-color: transparent;
  color: var(--color-primary-1);
  border: 2px solid var(--color-primary-1);

  &:hover {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);
  }
}

#home {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  min-height: calc(120vh - 96px);
  padding: 32px 4%;
  padding-top: clamp(0px, 5vw, 32px);

  .home-image {
    width: clamp(300px, 50%, 400px);
  }

  .home-title {
    color: var(--color-neutral-8);
    text-align: center;
    font-size: clamp(3rem, 5vw, 4.3rem);
    line-height: 1.2;
    max-width: 700px;

    span {
      color: var(--color-primary-1);
    }
  }

  .home-description {
    color: var(--color-neutral-9);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    max-width: 600px;
  }

  .home-actions {
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }
}

#trending {
  padding: 32px 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  min-height: calc(100vh - 96px);

  .trending-cards {
    .trending-card {
      position: relative;

      img {
        width: clamp(300px, 5vw, 600px);
      }

      .trending-rate {
        background-color: var(--color-neutral-0);
        position: absolute;
        bottom: 70px;
        right: 30px;
        padding: 5px 10px;
        border-radius: 5px;

        i {
          color: var(--color-secondary-1);
        }
      }

      .trending-card-description {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--color-neutral-8);

        span {
          font-size: 1rem;
          font-weight: 500;
          color: var(--color-neutral-7);
        }
      }
    }
  }
}
